
.headerTextHolder{
    width: 100%;
    height: 10vh;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
}
.headerText{
    margin: '5vh 0  0 5vw';
    color: hsl(0, 0%, 100%);
}

.footer {
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
  }

